.search-bar-container {
  margin-bottom: 20px;
}

.search-bar-container input:focus {
  border: none;
  border-bottom: 1px solid black;
}

.search-bar-container input {
  padding: 10px;
  width: 75%;

  outline: none;

  border: none;
  border-bottom: 1px solid grey;

  background-color: transparent;
  color: black;
}

.completed {
  border-left: 3px solid rgb(68, 157, 68);
}

.hide {
  display: none;
}

.pass {
  font-weight: bold;
  color: #42855b;
}

.wrong {
  font-weight: bold;
  background-color: #e64848;
  color: white;
}
